[submodule "host/third_party/opentitan_peripherals"]
	path = host/third_party/opentitan/opentitan_peripherals
	url = https://github.com/pulp-platform/opentitan_peripherals.git
[submodule "devices/snitch_cluster/third_party/snitch-sdk"]
	path = devices/snitch_cluster/third_party/snitch-sdk
	url = https://github.com/Xeratec/snitch-sdk.git
